.hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 100px 80px;
  overflow: hidden;
  perspective: 1000px;
}

.globe {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 400px;
  border-radius: 400px 400px 0 0;

  background: radial-gradient(circle at center, #555 0%, #111 60%);
  background-size: 200% 100%;
  animation: moveTexture 20s linear infinite;

  opacity: 0.6;
  z-index: 1;
}



.hero-content {
  max-width: 500px;
  z-index: 2;
}

.hero-content h1 {
  font-size: 48px;
  line-height: 1.1;
}

.hero-content p {
  margin-top: 16px;
  font-size: 16px;
  opacity: 0.7;
}

.hero-buttons {
  margin-top: 28px;
  display: flex;
  gap: 16px;
}

.hero-buttons button {
  padding: 12px 22px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.hero-buttons .secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
}

@keyframes rotateGlobe {
  from {
    transform: translateX(-50%) rotateY(0deg);
  }
  to {
    transform: translateX(-50%) rotateY(360deg);
  }
}

@keyframes moveTexture {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

