.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  pointer-events: none; /* VERY IMPORTANT */
  z-index: 9999;

  transform: translate(-50%, -50%);
  transition: transform 0.08s ease-out;
}
